@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@font-face {
  font-family: 'ThirdStoreyBrush';
  src: url('../fonts/ThirdStoreyBrush.eot?#iefix') format('embedded-opentype'),  
      url('../fonts/ThirdStoreyBrush.woff') format('woff'), 
      url('../fonts/ThirdStoreyBrush.ttf')  format('truetype'), 
      url('../fonts/ThirdStoreyBrush.svg#ThirdStoreyBrush') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    font-family: 'ThirdStoreyBrush';
    margin: 0;
    text-align: center;
}
.frame1 .row,
.frame2 .row,
.frame3 .row,
.frame4 .row,
.frame5 .row,
.frame6 .row {            
    position: relative;
    top: 0;
}
.frame2 img,
.frame3 img,
.frame4 img,
.frame5 img,
.frame6 img {
    position:absolute;
}
.frame2 .row img,
.frame3 .row img,
.frame4 .row img,
.frame5 .row img,
.frame6 .row img {
    position:relative;
    top:0;
    display:none;
}
.img-responsive {
    margin:auto;
}
.story-text {
    position: relative;
    width:550px;
    margin: auto;
}
.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
@media (min-width : 1px) and (max-width: 414px) {
    .story-text {
        width:350px !important;
    }
}

/* 
===========================    
    Frame 1
===========================
*/
.frame1 {
    font-size: 55px;
    background-color: #ed952e;
    color: #ffffff;
    min-height: 600px;
    padding-bottom: 350px;
}
@media (min-width : 1px) and (max-width: 414px) {
    .frame1 { height:600px; padding-top:200px; font-size: 35px; }
    .frame1 h1 { top: -100px; margin-top: -200px;font-size: 25px;}
    #frame1-text1 {top: 70px;}
    #frame1-text2,
    #frame1-text3,
    #frame1-text4,
    #frame1-text5 {top: 370px;}
    #frame1-dee {position: relative;top:180px;}
}
@media (min-width : 415px) and (max-width: 767px)  {
    .frame1 { height:600px; padding-top:200px; font-size: 35px; }
    .frame1 h1 { top: 0px; margin-top: -200px; }
    #frame1-text1 { top: 100px; }
    #frame1-text2,
    #frame1-text3,
    #frame1-text4,
    #frame1-text5 { top: 130px; }
    #frame1-dee { position: relative; top:180px; }
}
@media (min-width : 768px) and  (max-width : 991px) { 
    #frame1-text1 { top: 170px; }
    #frame1-text2,
    #frame1-text3,
    #frame1-text4,
    #frame1-text5 { top: 580px; }
    #frame1-dee { position: relative; top:280px; }
 }
@media (min-width : 992px) and  (max-width : 1199px) {         
    #frame1-text1 { top: 170px; }
    #frame1-text2,
    #frame1-text3,
    #frame1-text4,
    #frame1-text5 { top: 580px; }
    #frame1-dee { position: relative; top:260px; }
}
@media (min-width: 1200px) {
    #frame1-text1 { top: 170px; }
    #frame1-text2,
    #frame1-text3,
    #frame1-text4,
    #frame1-text5 { top: 580px; }
    #frame1-dee { position: relative; top:260px; }
}
.frame1 h1 {
    height:0px;   
    z-index:199;  
    position: relative;
    font-family: 'Libre Baskerville' !important;
    font-weight:300;
    font-size: 45px;
    color:#ffffff;
    display:none;
    margin: auto;
    text-align: center;
}
#frame1-text1,
#frame1-text2,
#frame1-text3,
#frame1-text4,
#frame1-text5 {
    position: relative;
    height:0px;   
}
.frame1 h1 .small {
    font-family:Georgia, 'Times New Roman', Times, serif !important;
    font-weight:500;
    font-style:italic;
    font-size: 25px !important;
    color:#ffffff;
}
.frame1 .row > div,
.frame1 .row > img {
    position: relative;
}
.frame1 .story-text {
    z-index: 201;
    display: none;
}
#frame1-dee {
    z-index: 100;    
}
/* 
===========================    
    Frame 2
===========================
*/
.frame2-transition {
    background-color:#ed952e;
    height:240px;
    z-index:300;
    background-image: url('../img/red-paint-background-top.jpg');
    background-position: center top;
    background-repeat:no-repeat;
}
.frame2 {
    font-size: 45px;
    color:#000000;
    background-color:#ed952e;
    height:600px;
    overflow:hidden;
    background-image: url('../img/red-paint-background.jpg');
    background-position: center top;
    background-repeat:no-repeat;
    z-index:10;
}
@media (min-width : 1px) and (max-width: 414px) {
    .frame2 {font-size: 35px;}
    #frame2-image1 {top:15px;}
    #frame2-image2 {top:-300px;}
    #frame2-image3 {top:-615px;}
    #frame2-text {top: -740px;}
}
@media (min-width : 415px) and (max-width: 767px)  {
    .frame2 {font-size: 35px;}
    #frame2-image1 {top:15px;}
    #frame2-image2 {top:-300px;}
    #frame2-image3 {top:-615px;}
    #frame2-text {top: -740px;}
}
@media (min-width : 768px) and  (max-width : 991px) {    
    #frame2-image1 {top:0px;}
    #frame2-image2 {top:-607px;}
    #frame2-image3 {top:-1214px;}
    #frame2-text {top: -1370px;}
 }
@media (min-width : 992px) and  (max-width : 1199px) {     
    #frame2-image1 {top:0px;}
    #frame2-image2 {top:-607px;}
    #frame2-image3 {top:-1214px;}
    #frame2-text {top: -1370px;}
}
@media (min-width: 1200px) {
    #frame2-image1 {top:0px;}
    #frame2-image2 {top:-607px;}
    #frame2-image3 {top:-1214px;}
    #frame2-text {top: -1370px;}
}
#frame2-text1 {
    z-index: 200;
    display: none;
}
#frame2-image1 {z-index:200;display: none;}
#frame2-image2 {z-index:190;display: none;}
#frame2-image3 {z-index:180;display: none;}
/* 
===========================    
    Frame 3
===========================
*/
.frame3-transition {
    background-color:#ed952e;
    height:201px;
    position:relative;
    top:-3px;
    z-index:300;
    background-image: url('../img/red-blue-transition-background.jpg');
    background-position: center top;
    background-repeat:no-repeat;
}
.frame3 {
    font-size: 45px;
    color:#000000;
    background-color:#41dbd4;
    color:#000000;
    min-height:600px;
    overflow:hidden;
    position:relative;
    top:-3px;
    height:600px;
    background-image: url('../img/blue-paint-background.jpg');
    background-position: center top;
    background-repeat:no-repeat;
}
@media (min-width : 1px) and (max-width: 414px) {
    .frame3 { font-size: 35px; }
    #frame3-image1 {top:15px;}
    #frame3-image2 {top:-300px;}
    #frame3-text {top: -400px;}
}
@media (min-width : 415px) and (max-width: 767px)  {
    .frame3 { font-size: 35px; }
    #frame3-image1 {top:0px;}
    #frame3-image2 {top:-607px;}
    #frame3-text {top: -765px;}
}
@media (min-width : 768px) and  (max-width : 991px) { 
    #frame3-image1 {top:0px;}
    #frame3-image2 {top:-607px;}
    #frame3-text {top: -765px;}
 }
@media (min-width : 992px) and  (max-width : 1199px) {  
    #frame3-image1 {top:0px;}
    #frame3-image2 {top:-607px;}
    #frame3-text {top: -765px;}
}
@media (min-width: 1200px) {
    #frame3-image1 {top:0px;}
    #frame3-image2 {top:-607px;}
    #frame3-text {top: -765px;}
}
#frame3-image1 {z-index:200;}
#frame3-image2 {z-index:190;}
#frame3-text {
    position: relative;
    z-index: 201;
    display: none;
}
/* 
===========================    
    Frame 4
===========================
*/
.frame4-transition {
    background-color:#ffffff;
    height:450px;
    position:relative;
    top:-3px;
    z-index:300;
    background-image: url('../img/bubble-transition.jpg');
    background-position: center top;
    background-repeat:no-repeat;
    margin-bottom:-300px;
}
.frame4 {
    font-size: 45px;
    color:#000000;
    background-color:transparent;    
    position: relative;
    min-height:600px;
    top: -50px;
    z-index: 400;
}
@media (min-width : 1px) and (max-width: 414px) {
    .frame4 { font-size: 35px; }
    #frame4-image1 {top:15px;}
    #frame4-text {top: 0px;}
}
@media (min-width : 415px) and (max-width: 767px)  {
    .frame4 { font-size: 35px; }
    #frame4-image1 {top:0px;}
    #frame4-text {top: -185px;}
}
@media (min-width : 768px) and  (max-width : 991px) { 
    #frame4-image1 {top:0px;}
    #frame4-text {top: -185px;}
 }
@media (min-width : 992px) and  (max-width : 1199px) {  
    #frame4-image1 {top:0px;}
    #frame4-text {top: -185px;}
}
@media (min-width: 1200px) {
    #frame4-image1 {top:0px;}
    #frame4-text {top: -185px;}
}
#frame4-image1 {z-index:200;}
#frame4-text {
    position: relative;
    z-index: 201;
    height:0px;
    display: none;
}
/* 
===========================    
    Frame 5
===========================
*/
.frame5 {
    font-size: 45px;
    color:#000000;
    background-color:#42dee4;
    height:646px;
    position:relative;
    top:-3px;
    z-index:300;
    background-image: url('../img/cherry-blossom-transition.jpg');
    background-position: center top;
    background-repeat:no-repeat;
    padding-bottom:50px;
}
@media (min-width : 1px) and (max-width : 414px) {    
    .frame5 { font-size: 35px; }
    #frame5-text { top: 0; }
}
@media (min-width : 415px) and (max-width : 767px)  {    
    .frame5 { font-size: 35px; }
    #frame5-text { top: 0; }
}
@media (min-width : 768px) and  (max-width : 991px) {    
    #frame5-text { top: 0; }
}
@media (min-width : 992px) and  (max-width : 1199px) { 
    #frame5-text { top: 0; }
}
@media (min-width : 1200px) {
    #frame5-text { top: 0; }
}
#frame5-text {
    z-index: 200;
    position: relative;
    display: none;
}
/* 
===========================    
    Frame 6
===========================
*/
.frame6 {
    font-size: 45px;
    background-color:#42dee4;
    color:#000000;
    position:relative;
    top:-3px;
    z-index:400;
    min-height:600px;
}
.frame6 .story-text {
    position: relative;
    z-index: 201;
    height:0px;
    /*display: none;*/
}
@media (min-width : 1px) and (max-width : 414px) {    
    .frame6 {font-size: 35px;}
    #frame6-text1 {top: -250px;left: -50px;}
    #frame6-text2 {top: -200px;left: -70px;}
    #frame6-text3 {top: -150px;left: 10px;}
    #frame6-text4 {top: -100px;left: -10px;}
    #frame6-image1 {top:50px;}
}
@media (min-width : 415px) and (max-width : 767px)  {  
    .frame6 {font-size: 35px;}
    #frame6-text1 {top: -250px;left: -50px;}
    #frame6-text2 {top: -200px;left: -70px;}
    #frame6-text3 {top: -150px;left: 10px;}
    #frame6-text4 {top: -100px;left: 10px;}
    #frame6-image1 {top:10px;}
}
@media (min-width : 768px) and  (max-width : 991px) {   
    #frame6-text1 {top: -250px;left: -200px;}
    #frame6-text2 {top: -180px;left: -200px;}
    #frame6-text3 {top: -110px;left: -70px;}
    #frame6-text4 {top: -35px;left:80px;} 
    #frame6-image1 {top:40px;}
}
@media (min-width : 992px) and  (max-width : 1199px) {
    #frame6-text1 {top: -250px;left: -200px;}
    #frame6-text2 {top: -180px;left: -200px;}
    #frame6-text3 {top: -110px;left: -70px;}
    #frame6-text4 {top: -40px;left: 20px;}
    #frame6-image1 {top:40px;}
}
@media (min-width : 1200px) {
    #frame6-text1 {top: -250px;left: -200px;}
    #frame6-text2 {top: -180px;left: -200px;}
    #frame6-text3 {top: -110px;left: -70px;}
    #frame6-text4 {top: -40px; left: 20px;}
    #frame6-image1 {top:40px;}
}
#frame6-image1 {
    z-index: 199;    
}
#frame6-text1 {
    z-index: 200;
    display: none;
}
#frame6-text2 {
    z-index: 200;
    display: none;
}
#frame6-text3 {
    z-index: 200;
    display: none;
}
#frame6-text4 {
    z-index: 200;
    display: none;
}
/* 
===========================    
    Frame 7
===========================
*/
.frame7 {
    font-size: 45px;
    background-color:#42dee4;
    color:#ffffff;
    position:relative;
    top:-200px;
    z-index:700;
    background-image: url('../img/idea-dee-transition.gif');
    background-position: center 100px;
    background-repeat:no-repeat;
    height:600px;
    margin-bottom:-200px;
}
@media (min-width : 1px) and (max-width : 414px) {    
    .frame7 {font-size: 35px;background-position: center -15px;}
    #frame7-text1 {top: 25px;}
    #frame7-text2 {top: 25px;}
    #frame7-text3 {top: -165px;} 
    #frame7-image1 {top: 160px; width:345px;}
    #frame7-image2 {top: -128px; width:345px;}      
}
@media (min-width : 415px) and (max-width : 767px)  {  
    .frame7 {font-size: 35px;background-position: center 100px;}
    #frame7-text1 {top: 80px;}
    #frame7-text2 {top: 80px;}
    #frame7-text3 {top: -165px;}   
    #frame7-image1 {top: 100px;width:345px;}
    #frame7-image2 {top: -128px;width:345px;}    
}
@media (min-width : 768px) and  (max-width : 991px) { 
    .frame7 {background-position: center 100px;}
    #frame7-text1 {top: 80px;}
    #frame7-text2 {top: 80px;}
    #frame7-text3 {top: -460px;}   
    #frame7-image1 {top: 100px;}
    #frame7-image2 {top: -400px;}
}
@media (min-width : 992px) and  (max-width : 1199px) {  
    .frame7 {background-position: center 100px;}
    #frame7-text1 {top: 80px;}
    #frame7-text2 {top: 80px;}
    #frame7-text3 {top: -460px;}       
    #frame7-image1 {top: 100px;}
    #frame7-image2 {top: -400px;}
}
@media (min-width : 1200px) {
    .frame7 {background-position: center 100px;}
    #frame7-text1 {top: 80px;}
    #frame7-text2 {top: 80px;}
    #frame7-text3 {top: -460px;}
    #frame7-image1 {top: 100px;}
    #frame7-image2 {top: -400px;}
}
#frame7-image1,
#frame7-image2 {    
    position: relative;
    display:none;
}
#frame7-image1 {
    z-index: 198;    
}
#frame7-image2 {
    z-index: 199;    
}
#frame7-text1,
#frame7-text2{
    color:#000000;
}
#frame7-text1,
#frame7-text2,
#frame7-text3 {
    position: relative;
    height:0px;
    z-index: 200;
    display: none;
}
/* 
===========================    
    Frame 8
===========================
*/
.frame8 {
    font-size: 45px;
    background-color:#1e57ad;
    color:#ffffff;
    position:relative;
    top:-3px;
    z-index:400;
    min-height:600px;
    padding-top: 180px;
    margin-bottom: -100px;
}
@media (min-width : 1px) and (max-width : 414px) {
    .frame8 {font-size: 35px;}
    #frame8-text1 {top:10px;}
    #frame8-text2 {top: -160px;left: -60px;}
    #frame8-text3 {top: -120px;left: -4px;}
    #frame8-text4 {top: -80px;left: -32px;}
    #frame8-text2,
    #frame8-text3,
    #frame8-text4 {font-size: 40px !important;}
    #frame8-text4 .small {font-size: 20px !important;top: -10px;left: 15px;}
    #frame8-image1 {top: 50px;position: relative;}
}
@media (min-width : 415px) and (max-width : 767px)  {
    .frame8 {font-size: 45px;}
    #frame8-text1 {top:-140px;}
    #frame8-text2 {top: -430px;left: -80px;}
    #frame8-text3 {top: -385px;left: -4px;}
    #frame8-text4 {top: -345px;left: -35px;}
    #frame8-text4 .small {font-size: 20px !important;top: -10px;left: 15px;}
    #frame8-image1 {top: -120px;position: relative;
    }
}
@media (min-width : 768px) and  (max-width : 991px) { 
    #frame8-text1 {}
    #frame8-text2 {top: -350px;left: -120px;}
    #frame8-text3 {top: -293px;left: -10px;}
    #frame8-text4 {top: -236px;left: -50px;}
    #frame8-text2,
    #frame8-text3,
    #frame8-text4 {font-size: 55px !important;}
    #frame8-text4 .small {font-size: 30px !important;top: -20px;left: 25px;}
}
@media (min-width : 992px) and  (max-width : 1199px) {  
    #frame8-text1 {}
    #frame8-text2 {top: -350px;left: -120px;}
    #frame8-text3 {top: -293px;left: -10px;}
    #frame8-text4 {top: -236px;left: -50px;}
    #frame8-text2,
    #frame8-text3,
    #frame8-text4 {font-size: 55px !important;}
    #frame8-text4 .small {font-size: 30px !important;top: -20px;left: 25px;}
}
@media (min-width : 1200px) {
    #frame8-text1 {}
    #frame8-text2 {top: -350px;left: -120px;}
    #frame8-text3 {top: -293px;left: -10px;}
    #frame8-text4 {top: -236px;left: -50px;}
    #frame8-text2,
    #frame8-text3,
    #frame8-text4 {font-size: 55px !important;}
    #frame8-text4 .small {font-size: 30px !important;top: -20px;left: 25px;}
}
#frame8-image1 {
    z-index: 199;
}
#frame8-text1,
#frame8-text2,
#frame8-text3,
#frame8-text4,
#frame8-text4 .small {
    position: relative;
    height:0px;
}
#frame8-text1 {
    z-index: 200;
    display: none;
}
#frame8-text2 {
    z-index: 200;
    display: none;
}
#frame8-text3 {
    z-index: 200;
    display: none;
}
#frame8-text4 {
    z-index: 200;
    display: none;
}
#frame8-text4 .small {
    position: relative;
}
/* 
===========================    
    Frame 9
===========================
*/
.frame9-transition {
    background-color:#ed952e;
    height:150px;
    position:relative;
    top:20px;
    z-index:300;
    background-image: url('../img/happy-holidays-transition.gif');
    background-position: center top;
    background-repeat:no-repeat;

}
.frame9 {
    font-size: 45px;
    background-color:#ed952e;
    color:#ffffff;
    z-index:400;
}
@media (min-width : 1px) and (max-width : 414px) {
    .frame9 {font-size: 35px;min-height: 420px;}
    #frame9-text {top: -0px;line-height: 40px;}
}
@media (min-width : 415px) and (max-width : 767px)  {
    .frame9 {font-size: 35px;min-height: 420px;}
    #frame9-text {top: -90px;line-height: 55px;}
}
@media (min-width : 768px) {
    #frame9-text {top: -90px;line-height: 55px;}
    .frame9 { min-height: 570px; }
}
#frame9-image1 {
    z-index: 199;
    padding-top:10px;
}
#frame9-text {
    z-index: 200;
    display: none;
    position: relative;
}
/* 
===========================    
    footer
===========================
*/
.visit {
    padding-top:30px;
    font-size: 20px;
    color:#ffffff;
    z-index:400;
    
} 
 .visit a, .visit a:hover, .visit a:valid {  
    color:#ffffff !important;
}
 
footer {    
    font-size: 16px !important;
    color:#ffffff !important;
    background-color:#8b5878;
    background-image: url('../img/footer.gif');
    background-position: center top;
    background-repeat:no-repeat;
}
footer a, footer a:hover, footer a:valid {  
    color:#ffffff !important;
}
footer .container{    
    z-index:300;
    padding-top: 50px;
    padding-bottom:20px;
}
footer .social-icons a {
    padding-right:5px;
}
footer .address {
    margin-top:-20px;
}
footer .address i {
    padding-left: 5px;
}
footer h3{
    font-size: 18px !important;
    font-weight: 700 !important;
    font-style: normal !important;    
    text-transform:uppercase;
}
footer ul, footer li {
    list-style:none;
    padding-left:0;
}
footer .row > div{
    padding-left:0;
    padding-bottom:20px;
}

/*
===========================    
    Scroll Control
===========================
*/
.userScroll {
    position: fixed;
    bottom: 20px;
    z-index: 9999;
    height: 65px;
    background: transparent;
    width: 100%;
    color:rgba(74, 42, 42, .5);
}
    .userScroll .row{margin-right: 25px;}
.scroll {
    display:inline;
    float:right;
    padding: 5px;
}
.inactive {
    color:rgba(150, 150, 150, .5) !important;
}

/*
===========================    
    Preload
===========================
*/
#preload-01 { background: url('../img/gem-foreground.gif') no-repeat -9999px -9999px; }
#preload-02 { background: url('../img/dancing_dee.gif') no-repeat -9999px -9999px; }
#preload-03 { background: url('../img/gem-background.gif') no-repeat -9999px -9999px; }
#preload-04 { background: url('../img/parrot_foreground.gif') no-repeat -9999px -9999px; }
#preload-05 { background: url('../img/dancing_dee_blue.gif') no-repeat -9999px -9999px; }
#preload-06 { background: url('../img/under-sea-dee.gif') no-repeat -9999px -9999px; }
#preload-07 { background: url('../img/tumbling-dee.gif') no-repeat -9999px -9999px; }
#preload-08 { background: url('../img/idea-dee1.gif') no-repeat -9999px -9999px; }
#preload-09 { background: url('../img/idea-dee2.gif') no-repeat -9999px -9999px; }
#preload-10 { background: url('../img/cwa-dee.gif') no-repeat -9999px -9999px; }
#preload-11 { background: url('../img/happy-holidays-dee.gif') no-repeat -9999px -9999px; }